#################
*.suo
*.user
*.sln.docstates

*.psess
*.vsp
*.vspx

_ReSharper*/
*.[Rr]e[Ss]harper

# Publish Web Output
*.Publish.xml
*.pubxml
*.publishproj

packages/

#################

.vs/
artifacts/
[Bb]in/
node_modules/
temp/
TestResults/
obj/

*.lock.json

/Backup/
.db-cache/

signing-creds.rsa
